<nav class="navbar navbar-light bg-faded rounded">
  <button class="navbar-toggler hidden-sm-up" type="button" (click)="isNavbarCollapsed = !isNavbarCollapsed" aria-controls="exCollapsingNavbar2"
    aria-expanded="false" aria-label="Toggle navigation">
    &#9776;
    </button>
    <div [ngbCollapse]="isNavbarCollapsed" class="collapse navbar-toggleable-xs" id="exCollapsingNavbar2">
      <a class="navbar-brand" routerLink="/home">Nostradamus</a>
      <!--<ul class="nav navbar-nav">
          <li class="nav-item" routerLinkActive="active">
            <a class="nav-link" routerLink="/home">Home </a>
          </li>
        </ul>-->
      <ul class="nav navbar-nav float-xs-right">
        <li class="nav-item" *ngIf="!(this.af.auth | async)" routerLinkActive="active">
          <a class="nav-link" routerLink="/login">Login</a>
        </li>
        <li *ngIf="(this.af.auth | async)" class="nav-item" routerLinkActive="active">
          <div ngbDropdown class="d-inline-block">
            <a href="javascript:void(0);" ngbDropdownToggle>
              <img class="rounded float-left img-fluid" [src]="(this.af.auth | async)?.auth.photoURL" width="32" height="32" alt="">
            </a>
            <div class="dropdown-menu" aria-labelledby="dropdownMenu1">
              <a class="dropdown-item" routerLink="{{'/profile/' + (this.af.auth | async)?.uid}}">Profile</a>
              <a class="dropdown-item" [routerLink]="'/settings'">Settings</a>
              <a class="dropdown-item" (click)="logout()">Logout</a>
            </div>
          </div>
        </li>
      </ul>
      <form class="form-inline float-xs">
        <div class="form-group">
          <template #rt let-r="result" let-t="term">
            <div class="row">
              <div class="col-xs-3">
                <img *ngIf="r?.photoUrl" width="60px" class="rounded float-left img-fluid" [src]="r.photoUrl" alt="Profile image">
              </div>
              <div class="col-xs-9">
                <h6 routerLink="{{'/profile/' + r?.uid}}">{{r?.name}}</h6>
                <small>{{r?.userName}}</small>
              </div>
            </div>
          </template>
          <input type="text" autocomplete="off" class="form-control" [resultTemplate]="rt" (selectItem)="userOnSelect($event)" #userInput
            [(ngModel)]="userResult" name="userInput" [inputFormatter]="formatter" [ngbTypeahead]="search" placeholder="Find Friends"
            required/>
          <span *ngIf="searching">searching...</span>
          <div class="form-control-feedback" *ngIf="searchFailed">Sorry, suggestions could not be loaded.</div>
        </div>
      </form>
    </div>
</nav>
