<div class="card">
  <div class="card-block">
    <h4 class="card-title">Forgot Password</h4>
    <div class="card-block">
      <div class="alert alert-success" role="alert" *ngIf="created">
        <strong>Well done! Email sent.</strong> <a class="alert-link" routerLink="/login">Sign In</a>
      </div>
      <form [formGroup]="form" (ngSubmit)="onSubmit(form.value)" class="form-horizontal">
        <div class="form-group row" [ngClass]="{'has-error': (!email.valid && email.touched), 'has-success': (email.valid && email.touched)}">
          <label for="inputEmail3" class="col-sm-2 control-label">Email</label>
          <div class="col-sm-10">
            <input [formControl]="email" type="email" class="form-control" id="inputEmail3" placeholder="Email">
          </div>
        </div>
      </form>
    </div>
    <div class="card-block">
      <div class="row">
        <div class="col-sm-12">
          <span (click)="googleLogin()" class="btn btn-block btn-social btn-google">
              <i class="fa fa-google" aria-hidden="true"></i> Sign in with Google
            </span>
          <span (click)="facebookLogin()" class="btn btn-block btn-social btn-facebook">
              <i class="fa fa-facebook" aria-hidden="true"></i> Sign in with Facebook
            </span>
          <span (click)="twitterLogin()" class="btn btn-block btn-social btn-twitter">
              <i class="fa fa-twitter" aria-hidden="true"></i> Sign in with Twitter
            </span>
        </div>
      </div>
    </div>
    <div class="card-block">
      <div class="row">
        Did you remember?
        <a class="card-link" href="javascript:void(0);" routerLink="/login">Sign In</a>
      </div>
    </div>
  </div>
</div>
